.main_reachus_container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(/public/assets/bg-5.1_part-2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.sub_left_reachus_container {
  height: auto;
}

.sub_right_reachus_container {
  height: auto;
}

.container_login_form {
  width: 65%;
  height: auto;
  margin-left: 35%;
}

.container_contact_form {
  width: 66%;
  height: auto;
  margin-right: 42%;
}

.wrapper {
  background: transparent;
  border: 3px solid white;
  backdrop-filter: blur(12px);
  color: #fff;
  border-radius: 12px;
  padding: 8% 7%;
}
.wrapper h1 {
  font-family: "FontTwo", cursive;
  font-size: 40px;
  text-align: center;
}
.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 8% 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box textarea {
  width: 100%;
  height: auto;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  padding: 10% 20% 6% 5%;
  resize: none;
  overflow: hidden;
}
.input-box input::placeholder {
  color: rgb(190, 188, 188);
  text-align: left;
}
.input-box textarea::placeholder {
  color: rgb(190, 188, 188);
  text-align: left;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .remember-forgot {
  font-size: 14.5px;
  margin-left: 65%;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3%;
}
.remember-forgot a {
  color: gray;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: none;
  color: #fff;
}

.button_login {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: "FontOne", sans-serif;
}

.button_submit {
  width: 100%;
  margin-top: 21%;
  margin-bottom: 2%;
  font-family: "FontOne", sans-serif;
}

.loader {
  margin-top: 30%;
  padding-left: 45%;
}

.loader_margin_bottom {
  margin-bottom: 35%;
}

.btn {
  border-width: 5px;
  border-radius: 0%;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
}
.register-link p a {
  color: gray;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: none;
  color: #fff;
}

.footer {
  height: 33vh;
  margin-top: 3%;
  background-image: url(/public/assets/bg-3.jpg);
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  border-top: 3px solid grey;
}

.footer_overlay {
  backdrop-filter: blur(5px);
  height: 33vh;
}

.footer_container_left {
  margin-top: 5%;
  padding-top: 10%;
  padding-left: 10%;
  border-right: 2px solid grey;
  height: 25vh;
  text-align: right;
  padding-right: 3%;
}

.icon-space {
  width: 60px;
  display: inline-block;
}

.icon {
  width: 10%;
  height: 10%;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.footer_container_right {
  background-color: blue;
}

.copyright_container {
  margin-top: 17%;
}

.copyright_icon {
  width: 5%;
  height: 5%;
}

.copyright_content {
  font-family: "FontOne", sans-serif;
  padding-left: 2%;
}

a {
  color: inherit;
  text-decoration: none;
}
