.main_hobby_container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(/public/assets/bg-5.1_part-1.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.sub_left_hobby_container {
  height: auto;
}

.sub_right_hobby_container {
  height: auto;
}

.icon_hobby_skill {
  height: 40%;
  width: 40%;
  padding-bottom: 10%;
}

.icon_hobby_container {
  height: auto;
  text-align: center;
  border-bottom: 2px solid grey;
}

.icon_hobby_container_last {
  height: auto;
  text-align: center;
}

p {
  font-family: "FontOne", sans-serif;
}

h1 {
  font-family: "FontTwo", cursive;
  font-size: 50px;
}

.button_download_cv {
  width: 90%;
  margin-top: 6%;
  margin-left: 7%;
  font-family: "FontOne", sans-serif;
}

.btn {
  border-width: 5px;
  border-radius: 0%;
}

.instagram_container {
  height: 83.5vh;
  width: 74.5%;
  padding-top: 4%;
  border: 2px solid grey;
  border-radius: 10px;
  backdrop-filter: blur(12px);
}

.carousel_container {
  margin-left: 6%;
  margin-top: 6%;
}

#carouselExampleSlidesOnly {
  width: 90%;
}

.carousel {
  border: 2px solid rgb(115, 112, 112);
}

.instagram_heading {
  font-family: "FontTwo", cursive;
  font-size: 50px;
  padding-left: 31%;
}

.youtube_container {
  padding: 12px;
  backdrop-filter: blur(5px);
  margin-top: 2%;
  width: 100%;
}

.rotate-image img {
  height: 550px;
  object-fit: cover;
  object-position: center center;
}

.button_hobby {
  width: 100%;
  font-family: "FontOne", sans-serif;
  backdrop-filter: blur(12px);
}

.btn {
  border-width: 5px;
  border-radius: 0%;
}
