.main_home_container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(/public/assets/bg-8.jpg);
  background-repeat: no-repeat;
  background-position: center 180%;
  background-size: cover;
  /* background-color: aquamarine; */
}

.sub_left_home_container {
  height: auto;
  /* background-color: rgb(0, 255, 81); */
}

.sub_right_home_container {
  height: 75vh;
  /* background-color: rgb(0, 255, 81); */
}

.description_container {
  margin-top: 6%;
  font-family: "FontTwo", cursive;
  color: white;
  font-size: 75px;
  letter-spacing: 1px;
  text-align: right;
  width: 85%;
  margin-left: 8%;
}

.description_body_container {
  margin-top: 3%;
  margin-left: 16%;
  color: white;
  font-size: 20px;
  text-align: right;
  width: 75%;
  font-family: "FontOne", sans-serif;
}

.button_get_in_touch {
  width: 70%;
  margin-left: 22%;
  margin-top: 4%;
  font-family: "FontOne", sans-serif;
}

.btn {
  border-width: 5px;
  border-radius: 0%;
}

.lotty_icons {
  height: 15%;
  width: 15%;
  transition: transform 0.2s ease;
}

.lotty_icons:hover {
  transform: scale(1.2);
}

.icons_container {
  display: flex;
  justify-content: center;
}
