.fade-in-element {
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 3s ease-in-out; /* Apply a 5-second transition to the opacity property */
}

.fade-in-element.visible {
  opacity: 1;
}
